header {
  width: 100%;
  background: rgba(216, 112, 147, 0.301);

  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #08ffc8;
}
header h1,
header p {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

header::after {
  content: "";
  background: url("./imgs/main_900.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  animation: anim 10s infinite ease-in-out;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes anim {
  50% {
    transform: scale(1.5) rotate(-10deg);
  }
  100% {
    transform: scale(1);
  }
}
#decision-container {
  display: flex;
  align-items: center;
  margin: 50px 0;
  flex-direction: column;
}
.partial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  background: palevioletred;
  width: 80%;
  height: 300px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  color: rgb(44, 37, 37);
}

.buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: rgb(33, 150, 243);
  cursor: pointer;
}
